:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Light-Cyan: hsl(184, 44%, 79%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);

    --normal-size: 18px;

    --big-weight: 700;
    --normal-weight: 400;
}


*{
    box-sizing: border-box;
    color:white;
    margin:0px;
    font-family: 'DM Sans', sans-serif;;
}
p{
    font-size: var(--normal-size);
    font-weight: var(--normal-weight);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Cream);
    gap:20px;
}


.main__balance{
    background-color: var(--Soft-red);
    border-radius: 17px;
    width: 400px;
    padding: 30px;
}

.main__mybalance{
    
}
.main__balance-text p{
    margin-bottom: 10px;
}
.main__balance-text h2{
    font-weight: var(--big-weight);
}




.main__chart{
    background-color: var(--Very-pale-orange);
    width: 400px;
    border-radius: 17px;
    padding:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px
}
#chart{
    height: 140px;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    gap: 10px;
}
.textColumn{
    color: var(--Medium-brown);
}
.column{
    position: relative;
    cursor: pointer;
    background-color: var(--Soft-red);
    width:40px;
    border-radius: 5px;
    align-self: flex-end;
}
.column:hover{
    background-color: var(--Cyan);
}
.column:hover .columnData{
    display: flex;
}
.todayCol{
    background-color: var(--Cyan) !important;
}
.todayCol:hover{
    background-color: var(--Light-Cyan) !important;
}
.columnData{
    position: absolute;
    top:-30px;
    left: -2px;
    color: var(--Very-pale-orange);
    background-color: var(--Dark-brown);
    display: none;
    align-items: center;
    justify-content: center;
    height:25px;
    width: 45px;
    border-radius: 3px;
}

.main__chart h2{
    color: var(--Dark-brown);
    font-weight: var(--big-weight);
    text-align:left;
    width: 100%;
}

.main__chart-line{
    width:100%;
    border: 0.1px solid var(--Medium-brown);
}

.main__chart-stats{
    margin-top: 5px;
    width: 100%;
}
.main__chart-stats h1{
    color: var(--Dark-brown);
    font-weight: var(--big-weight);
}
.main__chart-stats p{
    color:var(--Medium-brown)
}
.main__chart-right p:first-child {
    text-align: right;
}
.attribution{
    color: var(--Soft-red)
}
.attribution a{
    color:var(--Cyan)
}


@media screen and (max-width: 420px) {
    .main__balance{ 
      width:350px;
    }
    .main__chart{
      width: 350px;
      
    }
    #chart{
        gap:10px;
    }
    .column{
        width:33px;
    }
  }